/* Style de listado noticias */
.card {
  box-shadow: 50 20px 20px 0 black;
  width: 55%;
  display: table;
  margin: 0 auto;
  margin-top: 4%;
  -webkit-box-shadow: 7px 8px 5px 4px #2A1FFF; 
  box-shadow: 7px 8px 5px 4px #2A1FFF;
}

.card:hover {
  box-shadow: 0 20px 50px 0 black;
}

.container {
  padding: 2px 16px;
  display: table;
  margin: 0 auto;
}

.imgnew{
  width: 100%;
}

.button {
  background-color: #2A1FFF; 
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 50 20px 20px 0 black;
}

.button:disabled {
  box-shadow: none;
  background-color: rgba(13, 0, 255, 0.335); 

}

.button:hover:enabled {
  box-shadow: 0 20px 50px 0 black;
}
/* Style de Navbar */
.buttonNav {
  background-color: #2A1FFF; 
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 1px 1px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 50 20px 20px 0 black;
}

.buttonNav:hover {
  box-shadow: 0 20px 50px 0 white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}

.libutton{
  float: right;
  margin-right: 5%;

}

.active {
  background-color: #4CAF50;
}

/* Style de crear noticia*/

input[type=text], select, textarea {
  width: 100%;
  padding: 0.5%;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}



.containercreate {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 4%;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}


