table {
    width: 100%;
    height: 100%;
}

td {
    text-align: center;
    border: solid black 1px;
    cursor: pointer;
}

.cell {
    background: lightgrey;
}

.cell.active {
    background: darkred;
}

#btn-start-game {
    margin-top: 10px;
    float: left;
    cursor: pointer;
    background: lightgrey;
}

#stats{
    display: grid;
    padding-left: 40px;
    padding-top: 4px;
}